@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f2f0;
  font-family: "Poppins", sans-serif;
}

/* ---Navbar-Sectio--- */

.navbar-container .navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 110px;
  height: 20vh;
  align-items: center;
}
.navbar-container .navbar .logo img {
  width: 100px;
}

.navbar-container .navbar .list {
  position: relative;
  list-style-type: none;
  display: flex;
  gap: 78px;
  font-size: 15px;
  color: #8e8989;
  align-items: center;
}
.navbar-container .navbar .list .list-item {
  cursor: pointer;
  font-size: medium;
}

.line {
  position: absolute;
  background-color: #333;
  left: -350px;
  width: 65%;
  border-radius: 40px;
  height: 1.5px;
}

/* left image section  */

.left-img-container {
  width: 30vw;
}

.left-img-container .left-img {
  width: 30vw;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100vh;
}

/*   right section   */

.right-container {
  display: flex;
  width: 60vw;
  position: relative;
}

.heading {
  position: absolute;
  left: 55%;
}

.heading h1 {
  font-family: "Merriweather", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  color: #333;
}

.heading > h1 {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.head-text {
  position: relative;
  left: 8rem;
  line-height: 0.7;
}

.text {
  position: relative;
  left: 25rem;
  bottom: 3.8rem;
  font-size: 1.3rem;
  color: #555;
}

.right-container .btn button {
  position: relative;
  left: 25rem;
  bottom: 3rem;
  padding: 12px 3rem;
  background-color: #000;
  color: #ffffff;
  cursor: pointer;
}

/* ----Social-Icons--- */

.social-icons {
  position: relative;
  right: -87rem;
  display: flex;
  flex-direction: column;
  gap: 45px;
  top: -16px;
  cursor: pointer;
}
.social-icons img {
  width: 22px;
}
.social-icons img:nth-child(2) {
  width: 14px;
}
.social-icons img:nth-child(3) {
  width: 12px;
}
.social-icons img:nth-child(4) {
  width: 15px;
}

/* Bottom-Section */

.bottom {
  position: absolute;
  top: 320px;
  left: 520px;
}

.bottom ul {
  line-height: 3;
  border-radius: 10px;
}

.bottom li {
  color: #868686;
}

.active-item p {
  color: #333;
  font-weight: bold;
}

.bottom .line-dot {
  position: absolute;
  background-color: #868686;
  height: 110%;
  width: 1.55px;
  left: -12px;
  top: 20px;
}

/* Quates */
.quotes {
  position: absolute;
  left: 200px;
  top: 3px;
}

.quotes p {
  font-size: 16px;
  margin-bottom: 20px;
  /* margin-top: 8px; */
  margin-left: 50px;
}

.quote-icon .fa-quote-right {
  color: #333333;
  font-size: 40px;
}

.dance-image {
  width: 400px;
  margin-left: 10rem;
}

.arrow {
  position: absolute;
  top: 50px;
  right: -140px;
}

.arrow > img {
  width: 30px;
}
